body {
  color: #fff;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  border-radius: 20px;

}
.title{
    padding: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.title img{
    width: 30px;
    margin-right: 10px;
    height: 30px;
}
.dp_Type{
    padding: 5px 0px 10px 0px;
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;    
}
.dp_list{
    display: flex;
    align-items: left;
    margin: 10px 0px;
}
.dp_Type img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: -10px;
}
.footer{
    font-size:small;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px 10px 20px 10px;
}
.top-row{
    display: flex;
    align-items: center;
}
.box{
    width: 10px;
    height: 10px;
    border: 2px solid #A259FF;
}

.float-container{
    padding: 2px;
}

.circle{
    width: 10px;
    margin: 0 5px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.circle1{
    margin: 5px 0px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.left-row{
    display: flex;
    float: left;
    /* border: 2px solid pink; */
    flex-direction: column;
    align-items: left;
    padding-top:5px;
    width: 5vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.right-row{
    align-items: center;
    /* border: 2px solid pink; */
    padding-top:5px;
    display: flex;
    flex-direction: column;
    float: right;
    width: 5vw;
    height: 90vh;
    margin-right: 3px;
    justify-content: center;

}