body{
    margin: 0;
    padding: 1px;
    background-color: white;
    color: white;
    font-family: "Montserrat", sans-serif;
    width: 350px;

}
/* New CSS */
.blackdiv{
    background-color: #06030D;
    border-radius: 15px;
    width: 350px;
    margin: 1px 0;
}
.headerdiv{
    height: 50px;
    /* width: 300px; */
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FA1E4E !important;
    font-size: 28px;
    vertical-align: middle;
}
.headerdiv img{
    /* margin: auto; */
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.subdiv2{
    width: auto;
    font-size: 20px;
    padding: 2px 2px;
    /* margin: 2px; */
}
.domaindiv{
    margin: 10px 10px;
    display: flex;
    align-items: center;

}
.domaindiv img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    
}
.checkemmorcediv{
    margin: 10px 10px;
    display: flex;
    align-items: center;
}
.checkemmorcediv img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.circle{
    width: 17.5px;
    height: 17.5px;
    border-radius: 50%;
    background-color: green;
}

.checkbox-wrapper{
    display: flex;
    margin: auto;
    margin-right: 10px;
}

.checkbox-wrapper input[type=checkbox] {
    display: none;
}

.checkbox-wrapper label {
    --size: 30px;

    cursor: pointer;
    width: var(--size);
    height: calc(var(--size) / 2);
    background: #22262C;
    display: block;
    border-radius: 100px;
    position: relative;
    /* outline: 1px solid white; */
}

.checkbox-wrapper label:after {
    content: '';
    position: absolute;
    top: 6%;
    left: 2.5%;
    width: calc(50% - 5%);
    height: calc(100% - 11%);
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}
.checkbox-wrapper input:checked+label {
    background: rgb(255, 255, 77);
}

.checkbox-wrapper input:checked+label:after {
    left: calc(100% - 2.5%);
    transform: translateX(-100%);
}

.checkbox-wrapper label:active:after {
    width: 55%;
    /* outline: 2px solid lime; */
}

.subdiv3{
    margin: 1px;
    padding: 10px;
    width: 329px;
}
.categorydiv{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 20px;
    margin: 10px 0;
}
.categorydiv img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.subdiv4{
    padding: 10px;
    width: 329px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
