<link rel="stylesheet" href="/css/index.css">

<div class="main-container">
    <div class="nav-bar">
        <div class="nav-icon">
            <img src="/images/yellowicon.png" alt="Pacman Icon" class="pacman-ico">Pacman
        </div>
    </div>
    <!-- <form action="" method="post"> -->
    <div class="main-div">
        <div class="search imageDiv">
            <input type="text" placeholder="Search" class="search-bar" id="inputField">
            <img src="/images/search 1.svg" alt="" class="search-ico">
        </div>
        

    </div>
    

</div>

<script src="/js/home.js"></script>
