<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/try.css">
</head>

<body>
    <div class="div">
        <img src="/images/WhatsAppVideo2024-03-10at01.44.36_aaf5508f-ezgif.com-video-to-gif-converter (1).gif" alt=""
            srcset="">
    </div>
</body>

</html>