@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  /* margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden; */
}
/* body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-repeat: no-repeat, repeat;
  
  background-size: cover;
  z-index: -1;
} */

/*-----NAV BAR------*/
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/Responsible Design Part 3 of 14 Confirm Shaming or Guilt Shaming - Think Design890 × 815.png");
  overflow-y: hidden;
  overflow-x: hidden;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat, repeat;

  background-size: cover;
  z-index: -1;
}

/*-----NAV BAR------*/

.nav-icon {
  display: flex;
  align-items: center;
  width: 35vh;
  font-size: 4.5vw;
  margin: 3vh 0vh 0vh 4vh;
  font-family: "Montserrat", sans-serif;
}

.pacman-ico {
  height: 12vh;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 15% auto;
  width: 50%;
  font-family: "Montserrat", sans-serif;
}
.search-bar {
  background-color: #d9d9d9;
  width: 32vw;
  height: 50px;

  padding-left: 10px;
  position: absolute;
  border-style: none;
}
.search-bar:active {
  border-style: none;
}
.search-ico {
  position: relative;
  margin-left: 28vw;
  cursor: pointer;
}
.search-resize {
  border: 1px solid pink;
  margin-left: 20vw;
}

.table-content {
  width: 90%;
  display: flex;
  margin: 5vh auto;
  /* font-size: 2.5vh; */
}
table,
th,
td {
  background-color: #d9d9d9;
  /* border: 0px solid black; */
  border-collapse: collapse;
  padding: 10px 10px 10px 20px;
}
th {
  /* border: 1px solid black; */
  text-align: left;
  padding-left: 20px;
}
/*----------Image Conatainer----------*/
.image-container {
  justify-content: center;
  /*top right bottom left*/
  margin: -60vh 0vw 0vh 30vw;
  overflow-x: hidden;
}
#ghost-ico {
  /* opacity: 0.4; */
  width: 100vw;
}
/*---------------Main Div----------------*/
.main-div {
  display: flex;
  position: relative;
}
.imageDiv {
  position: absolute;
  left: 25%;
}
.main-container-mobile{
  display: none;
}


@media only screen and (max-width: 980px) {
  /* body {
    background-color: lightblue;
  } */
  .main-container-pc{
    display: none;
  }
  .main-container-mobile{
    display: block;
  }
  .nav-bar{
    width: 100svw;
    height: 30svh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-icon img{
    width: 200px;
    height: 200px;
    
  }
  .nav-icon {
    font-size: 6em;
  }
  .main-div{
    width: 100svw;
  }
  .search{
    display: flex;
    align-items: center;
    margin: auto;
  }
  .search input{
    width: 60svw;
    height: 3svh;
    font-size: 2svh;
  }
  .search-ico{
    margin-left: 50svw;
    height: 2svh;
    width: 5svw;
  }
  table{
    font-size: 1.5svh;
  }
}